:root {
  --primary-bg: #fa4a0c;
  --secondary-bg: #ffffff;
  --third-bg: #e5e5e5;
  --font-pm: #929292;
  --font-title: #666666;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}
.container {
  padding: 0 30px;
}

/* navbar */
.img-logo {
  width: 20%;
}
.topnav {
  overflow: hidden;
  background-color: #fff;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
  color: var(--primary-bg);
}

.topnav .icon {
  display: none;
}

.topnav-right {
  float: right;
}
