:root {
  --primary-bg: #fa4a0c;
  --secondary-bg: #ffffff;
  --third-bg: #fcecdd;
  --font-pm: #929292;
  --font-title: #666666;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: var(--primary-bg);
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

/*
  Main Content
*/

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}

/*
  restos
*/

.restos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
  resto Item
*/

.resto-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.resto-item__header {
  position: relative;
}

.resto-item .resto-item__header .resto-item__header__poster {
  width: 100%;
}

.resto-item .resto-item__header .resto-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.resto-item
  .resto-item__header
  .resto-item__header__rating
  .resto-item__header__rating__score {
  margin-left: 10px;
}

.resto-item .resto-item__content {
  padding: 16px;
}

.resto-item .resto-item__content h3 {
  margin: 0 0 10px 0;
}

.resto-item .resto-item__content h3 a {
  color: var(--primary-bg);
  text-decoration: none;
}

.resto-item .resto-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
  resto
*/

.resto {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
.resto .resto__title {
  color: var(--primary-bg);
}
.resto .resto__poster {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

.resto .resto__info h4 {
  margin: 10px 0;
  color: var(--primary-bg);
}

.resto .resto__overview h4 {
  margin-top: 10px;
  color: var(--primary-bg);
}

/*
   Like
*/
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Review */

.review-container {
  width: 90%;
  background: var(--primary-bg);
  color: #fff;
  margin: 2rem auto;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 10px;
}
h2 {
  margin-bottom: 3rem;
}
.cards {
  margin: 2.5rem 0.75rem;
}
.cards .card {
  width: 100%;
  margin-bottom: 0.7rem;
  background: var(--third-bg);
  border-radius: 5px;
}
.card > * {
  padding: 1rem 1.2rem;
}
.card-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.img {
  width: 50px;
  height: 50px;
  background: purple;
  border-radius: 50%;
  outline: none;
}
.name .one {
  background: orange;
}
.name,
.name .img {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--font-title);
}
.name .img {
  justify-content: center;
}
.card-content {
  margin: 0;
  padding-top: 0;
}
.card-content p {
  font-size: 0.8rem;
  color: rgb(152, 152, 165);
}
.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-action span {
  font-size: 0.8rem;
  color: RGB(101, 101, 114);
}
.card-action .btn {
  padding: 0.3rem 0.7rem;
  background: transparent;
  border: 1px solid #000;
  border-radius: 2px;
  color: #8c8c9f;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background: #000;
  color: #fff;
}

/*
  Footer
*/

footer {
  padding: 16px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #db0000;
  text-decoration: none;
}
