<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant - Bella Onoje's</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body class="container">
    <header>
      <nav>
        <div class="topnav" id="myTopnav">
          <img src="./images/logo.png" alt="" class="img-logo" />

          <div class="topnav topnav-right">
            <a href="#" class="active">Home</a>
            <a href="#">contact</a>
            <a href="#">Favorit</a>
            <a href="https://linkedin.com/in/nicogulo/" target="_blank"
              >About us</a
            >
          </div>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </nav>
      <div class="hero">
        <div class="hero__inner">
          <h1 class="hero__title">Why stay hungry when</h1>
          <p class="hero__tagline">you can order form Bella Onojie</p>
        </div>
      </div>
    </header>
    <main>
      <section class="content">
        <div class="restaurants">
          <h1 class="restaurants-label">Explore Restaurants</h1>
          <div>
            <div id="posts"></div>
          </div>
        </div>
      </section>
    </main>
    <!-- <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>
      Jangan lupa untuk menggunakan salah satu gambar yang berada pada
      ./images/heros sebagai background hero elemen
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
  </body>
</html>
