<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant - Bella Onoje's</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <!-- Navbar -->
      <nav class="container">
        <ul class="menu">
          <li class="logo">
            <a href="#"
              ><img src="./images/logo.png" alt="" class="img-logo"
            /></a>
          </li>
          <a class="item" href="/">Home</a>
          <a class="item" href="#">Favorite</a>
          <a
            class="item"
            href="https://linkedin.com/in/nicogulo/"
            target="_blank"
            >About us
          </a>
          <li class="toggle">
            <a href="#"><i class="fa fa-bars"></i></a>
          </li>
        </ul>
      </nav>

      <!-- Hero Jumbotron -->
      <div class="hero" role="img" aria-label="hero">
        <div class="hero__inner">
          <h1 class="hero__title">Why stay hungry when</h1>
          <p class="hero__tagline">you can order form Bella Onojie</p>
          <a href="#explore">
            <button class="explore">
              Explore<span class="icon-right"></span
              ><span class="icon-right after"></span>
            </button>
          </a>
        </div>
      </div>
    </header>

    <!-- Main -->
    <main>
      <section class="content">
        <div class="restaurants">
          <h1 class="restaurants-label" id="explore">Explore Restaurants</h1>
          <div id="posts" class="posts"></div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer class="site-footer">
      <div class="container">
        <div>
          <p>
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved made by
            <a href="https://instagram.com/_nanithefvck" target="_blank"
              >Bella Onoje's | Nico Gulo</a
            >
          </p>
        </div>

        <div class="social">
          <a
            href="https://facebook.com/comunity.abdn"
            class="social-item"
            target="blank"
            ><span class="fab fa-facebook"></span
          ></a>
          <a
            href="https://twitter.com/_xnfvk"
            class="social-item"
            target="blank"
            ><span class="fab fa-twitter"></span
          ></a>
          <a
            href="https://instagram.com/_nanithefvck"
            class="social-item"
            target="blank"
            ><span class="fab fa-instagram"></span
          ></a>
          <a
            href="https://linkedin.com/in/nicogulo"
            class="social-item"
            target="blank"
            ><span class="fab fa-linkedin"></span
          ></a>
          <a
            href="https://github.com/nicogulo"
            class="social-item"
            target="blank"
            ><span class="fab fa-github"></span
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
